# --- OS / Editor ---
.DS_Store
.idea/
.vscode/
__pycache__/
*.pyc

# --- Python envs ---
venv/
.env/
*.egg-info/

# --- Data ---
data/              # ignore all raw/processed data
!data/sprite.yaml
!data/classes.txt
!data/splits       # do not ignore data split for training

# --- Models ---
*.pt               # ignore all YOLO weights by default
!models/
!models/best.pt    # track only the final trained model if desired

# --- API Results ---
results/           # ignore anothing saved to the default client upload location

# --- Logs ---
*.log
